Repository footgrammer/todomodu_app, pull requests merged in 2025-07, with the labels that each got.

#118 [edit_todo_page] 할 일 수정 중 뒤로가기 버튼 누르면 작성하던 내용이 반영되는 버그 해결
  ios/Podfile.lock
  lib/features/todo/data/models/subtask_dto.dart
  lib/features/todo/data/repositories/todo_repository_impl.dart
  lib/features/todo/domain/entities/subtask.dart
  lib/features/todo/domain/repositories/todo_repository.dart
  lib/features/todo/presentation/pages/edit_todo_page.dart
  lib/features/todo/presentation/pages/todo_detail_page.dart
  lib/features/todo/presentation/pages/todo_page.dart
  lib/features/todo/presentation/providers/edit_todo_viewmodel_provider.dart
  lib/features/todo/presentation/providers/subtask/subtask_stream_provider.dart
  lib/features/todo/presentation/providers/todo_stream_by_id_provider.dart
  lib/features/todo/presentation/states/edit_todo_state.dart
  lib/features/todo/presentation/viewmodels/edit_todo_viewmodel.dart
  lib/features/todo/presentation/widgets/subtask/add_subtask_list.dart
  lib/features/todo/presentation/widgets/subtask/edit_subtask_list.dart
  lib/features/todo/presentation/widgets/subtask/subtask_item.dart
  lib/features/todo/presentation/widgets/todo_card/todo_card.dart
  lib/features/todo/presentation/widgets/todo_page/todo_list_section.dart
  lib/features/todo/presentation/widgets/user_search_bottom_sheet.dart
  pubspec.lock
  pubspec.yaml
Labels: fix, feat

#123 [project_card, project_detail_page, todo_detail_page] subtask 완료/미완료 토글 시 진척도 실시간 반영 안됨 문제 해결
  lib/features/project/data/models/project_dto.dart
  lib/features/project/data/repositories/project_repository_impl.dart
  lib/features/project/domain/entities/project.dart
  lib/features/project/domain/entities/project_extensions.dart
  lib/features/project/presentation/pages/project_create_subtask_page.dart
  lib/features/project/presentation/widgets/project/project_card.dart
  lib/features/project/presentation/widgets/project/project_progress_bar.dart
  lib/features/project/presentation/widgets/project_detail/project_info_header.dart
  lib/features/todo/application/usecases/complete_subtask_usecase.dart
  lib/features/todo/presentation/pages/todo_detail_page.dart
  lib/features/todo/presentation/widgets/todo_card/todo_card.dart
Labels: fix, docs

#127 [activity history] activity history 로깅
  ios/Podfile.lock
  lib/features/activity_history/domain/models/activity_history_payload.dart
  lib/features/activity_history/domain/models/activity_history_payload.freezed.dart
  lib/features/activity_history/domain/models/activity_history_payload.g.dart
  lib/features/activity_history/presentation/utils/activity_history_formatter.dart
  lib/features/notice/data/datasources/notice_data_source_impl.dart
  lib/features/notice/data/models/notice_dto.dart
  lib/features/notice/data/repositories/notice_repository_impl.dart
  lib/features/notice/domain/entities/notice.dart
  lib/features/notice/domain/usecase/create_notice_usecase.dart
  lib/features/notice/presentation/models/notice_create_model.dart
  lib/features/notice/presentation/pages/notice_create_page.dart
  lib/features/notice/presentation/providers/notice_providers.dart
  lib/features/notice/presentation/viewmodels/notice_create_view_model.dart
  lib/features/todo/application/usecases/create_todo_usecase.dart
  lib/features/todo/application/usecases/delete_todo_usecase.dart
  lib/features/todo/application/usecases/update_todo_usecase.dart
  lib/features/todo/presentation/providers/create_todo_usecase_provider.dart
  lib/features/todo/presentation/providers/delete_todo_usecase_provider.dart
  lib/features/todo/presentation/providers/update_todo_usecase_provider.dart
  lib/features/todo/presentation/viewmodels/edit_todo_viewmodel.dart
  lib/features/user/data/datasources/user_data_source.dart
  lib/features/user/data/datasources/user_data_source_impl.dart
  lib/features/user/data/repositories/user_repository_impl.dart
  lib/features/user/domain/repositories/user_repository.dart
  lib/features/user/domain/usecases/get_current_user_future_usecase.dart
  lib/features/user/domain/usecases/get_current_user_future_usecase_impl.dart
  lib/features/user/presentation/providers/user_providers.dart
  lib/temp_payload_test.dart
  pubspec.lock
Labels: feat

#132 [project detail] 타임라인, 공지 탭 디자인 적용
  assets/images/empty_notice.png
  assets/images/empty_timeline.png
  lib/features/activity_history/presentation/widgets/activity_history_list_element.dart
  lib/features/activity_history/presentation/widgets/activity_history_list_widget.dart
  lib/features/notice/presentation/widgets/notice_list/notice_list_widget.dart
  lib/features/notice/presentation/widgets/notice_list/notice_list_widget_element.dart
  lib/features/project/presentation/widgets/project_detail/empty_notice.dart
  lib/features/project/presentation/widgets/project_detail/empty_timeline.dart
  lib/features/project/presentation/widgets/project_detail/notice_list_section.dart
  lib/features/project/presentation/widgets/project_detail/time_line_section.dart
Labels: design

#138 [notice] 관련 코드 Future에서 stream으로 수정
  lib/features/notice/data/datasources/notice_data_source.dart
  lib/features/notice/data/datasources/notice_data_source_impl.dart
  lib/features/notice/data/repositories/notice_repository_impl.dart
  lib/features/notice/domain/repositories/notice_repository.dart
  lib/features/notice/domain/usecase/watch_notice_by_project_id_usecase.dart
  lib/features/notice/domain/usecase/watch_notices_by_simple_projects_usecase.dart
  lib/features/notice/presentation/models/notice_list_model.dart
  lib/features/notice/presentation/models/notice_list_model_extension.dart
  lib/features/notice/presentation/pages/notice_detail_page.dart
  lib/features/notice/presentation/pages/notice_list_page.dart
  lib/features/notice/presentation/providers/notice_providers.dart
  lib/features/notice/presentation/viewmodels/notice_list_for_project_view_model.dart
  lib/features/notice/presentation/viewmodels/notice_list_view_model.dart
  lib/features/notice/presentation/widgets/notice_list/notice_list_widget.dart
  lib/features/notice/presentation/widgets/notice_list/notice_list_widget_element.dart
  lib/features/notice/presentation/widgets/project_chip.dart
  lib/features/notice/presentation/widgets/project_chip_list.dart
  lib/features/project/data/datasources/project_data_source.dart
  lib/features/project/data/datasources/project_data_source_impl.dart
  lib/features/project/data/repositories/project_repository_impl.dart
  lib/features/project/domain/entities/simple_project_info.dart
  lib/features/project/domain/repositories/project_repository.dart
  lib/features/project/domain/usecases/watch_simple_project_by_user_usecase.dart
  lib/features/project/presentation/pages/project_detail_fab.dart
  lib/features/project/presentation/pages/project_detail_page.dart
  lib/features/project/presentation/providers/project_providers.dart
  lib/features/project/presentation/widgets/project_detail/notice_list_section.dart
  lib/features/project/presentation/widgets/project_detail/positioned_reddot_for_tab.dart
  lib/features/project/presentation/widgets/project_detail/project_tab_bar.dart
  lib/features/user/domain/entities/user_entity.dart
Labels: feat
